<div class="bg-container w-100 h-100" id="wtwmovieMD">
    <app-navbar></app-navbar>
    <h1  style="text-align: center; color: white; font-size: 35px; margin-top: 2%;">Willing To Watch</h1>
    <table style="margin: 0 auto; width: 50%; text-align: center; margin-top: 2%; margin-bottom: 2%;">
        <tr>
            <td><img src="../../../assets/add_Icon.png" class="size-of-icon" (click)="add()"></td>
            <td><img src="../../../assets/modify_Icon.png" class="size-of-icon"></td>
            <td><img src="../../../assets/delete_Icon.png" class="size-of-icon"></td>
        </tr>
    </table>
    <div class="content-div" id="willingToWatch">
        
    </div>

</div>