<nav class="navbar navbar-expand-lg navbar" style="background-color: rgb(93, 123, 123); opacity: 0.6;color: white;">
  <div class="container-fluid">
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="flex-grow-1 d-flex flex-column align-items-center">
          <a class="nav-link" href="#" [routerLink]="'/home'">
            <img src="assets/house-icon.png" alt="Home" class="img-fluid" style="width: 25px; height: 25px;">
            <br><span class="positioning-right font">Home</span>
          </a>
        </li>
        <li class="nav-item flex-grow-1 d-flex flex-column align-items-center">
          <a class="nav-link" [routerLink]="'/music'">
            <img src="assets/music-icon.png" alt="Music" class="img-fluid" style="width: 25px; height: 25px;">
            <br><span class="positioning-right font">Music</span>
          </a>
        </li>
        <li class="nav-item flex-grow-1 d-flex flex-column align-items-center">
          <a class="nav-link" [routerLink]="'/movie'">
            <img src="assets/movie-icon.png" alt="Movie" class="img-fluid" style="width: 25px; height: 25px;">
            <br><span class="positioning-right font">Movie</span>
          </a>
        </li>
        <li class="nav-item flex-grow-1 d-flex flex-column align-items-center">
          <a class="nav-link" [routerLink]="'/series'">
            <img src="assets/video-icon.png" alt="Series" class="img-fluid" style="width: 25px; height: 25px;">
            <br><span style="color: white;" class="positioning-right font">Series</span>
          </a>
        </li>
        <li class="nav-item flex-grow-1 d-flex flex-column align-items-center">
          <a class="nav-link" [routerLink]="'/profile'">
            <img src="assets/profile-icon.png" alt="Profile" class="img-fluid" style="width: 25px; height: 25px;">
            <br><span class="positioning-right font">Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>