<div class="container-fluid" style="height: 100%; position: fixed;">
    <div class="row h-100"> 
      <div class="col-sm image-series">
        <button type="button" class="btn btn-dark" [routerLink]="'/series'">Series</button>
      </div>
      <div class="col-sm image-movie">
        <button type="button" class="btn btn-dark" [routerLink]="'/movie'">Movie</button>
      </div>
      <div class="col-sm image-music">
        <button type="button" class="btn btn-dark" [routerLink]="'/music'">Music</button>
      </div>
    </div>
  </div>