.image-series{
    background-image: url("../../../assets/series.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.image-movie{
    background-image: url("../../../assets/movie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-music{
    background-image: url("../../../assets/music.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{
    background-color: black;
    width: 30%;
    height: 7%;
    font-size: 2vh;
    text-align: center;
    border-radius: 40px;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 85%;
}

